# Environnement virtuel
.venv/

# Cache Python
__pycache__/

# Images téléchargées
data/

# Sorties Grad-CAM générées à la demande
results/*/gradcam/

# Modèles entraînés
models/

# Secrets (future clé API IUCN)
.env